<h2>Todo</h2>

<div ng-controller="TodoCtrl">
    <form class="form-inline" ng-submit="saveTodo(todoForm.todo)">
        <input type="text" class="span3" ng-model="todoForm.todo.task" size="30" placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="Save">
        <button type="button" class="btn" ng-click="clearForm()">Clear form</button>
    </form>
    <div>
    <span ng-if="remaining()===0 && todoList.length!==0">
        <h1>You Have Completed All Tasks!! Congratulations!</h1>
    </span>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width: 200px">Operation</th>
            <th style="width: 300px">Todo Item</th>
            <th style="width: 400px">Task Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="todo in todoList">
            <td style="width: 200px">
                <button class="btn" ng-click="editTodo(todo)"><i class="icon-edit"></i></button>
                <button class="btn" ng-click="deleteTodo(todo)"><i class="icon-trash"></i></button>
                <button class="btn" ng-click="toggleTodo(todo)"><i class="button pure-button-primary">
                    <span ng-if="todo.inProgress">Mark As Done</span>
                    <span ng-if="!todo.done && !todo.inProgress">Begin Task</span>
                    <span ng-if="todo.done && !todo.inProgress">Re-Start Task</span>
                </i>
                </button>
            </td>
            <td style="width: 300px">{{todo.task}}</td>
            <td class="done-{{todo.done}}-{{todo.inProgress}}" style="width: 400px">
                <span ng-if="todo.done">Task Complete! Well done!</span>
                <span ng-if="todo.inProgress" class="glyphicon-apple">Task in Progress</span>
                <span ng-if="!todo.done && !todo.inProgress">Task not yet initiated</span>
            </td>
        </tr>
        </tbody>
    </table>
    <span>{{remaining()}} of {{todoList.length}} remaining</span>
    [ <a href="" ng-click="archive()">archive</a> ]
</div>
