<h2>Welcome to Utamatisi!</h2>
<div class="row-fluid">
    <div class="span5">
        <label for="name-input">Name provided by user:</label>
        <input id="name-input" type="text" class="span8" ng-model="yourName" placeholder="Enter a name here">
        {{yourName}}
    </div>
    <div class="span5">
        <div class="well">
            <p>
                This is a little example application that I have used to learn to use the AngularJS and Dropwizard
                frameworks. It also serves as a project template that can be used to get a new project up and running
                quickly using these frameworks + Jetty & Maven.
            </p>
            <p>
                The examples have largely been taken from <a href="http://www.egghead.io">www.egghead.io</a>
                and the Raffle example from
                <a href="http://railscasts.com/episodes/405-angularjs">RailsCast</a> (subscription need).
            </p>
        </div>
    </div>
</div>
