<html>
    <head>
      <link rel="stylesheet" href="/assets/pure-min.css">
    </head>
    <body>
        Hello, <h1>{{person.fullName}}</h1>!
        You are an awesome <h1>{{person.jobTitle}}<h1>!
    </body>
</html>